<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="24752fc3-abdc-4f28-b402-aa25ab04343d" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>modularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a9c48077-cb9a-46da-9911-99c96c07531e">modularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="24752fc3-abdc-4f28-b402-aa25ab04343d" SortOrder="0">modularPage</ContentType>
    <ContentType Key="c790a8f0-e73b-47db-aef0-54708f9d5694" SortOrder="1">serviceListPage</ContentType>
    <ContentType Key="e71d416f-1b49-4f75-8076-4db0308c4c96" SortOrder="2">projectListPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>49a7e2c3-6aad-4350-923f-22fb00c4b4dd</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>11c9293d-7d63-47e8-a487-8c09e4ad3cd2</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/pageLayout">Page Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c0b423bd-6680-44e3-9bb2-74a63f5242fa</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c48b8e59-f93b-4a69-9da3-e9f1143ab7c2</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f3ed6bd9-50e9-4464-afaf-8961130857cf</Key>
      <Caption>Page Layout</Caption>
      <Alias>content/pageLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>