<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd6f9ea7-27be-4b89-a380-5587e44042a7" Alias="Contact" Level="2">
  <Info>
    <Parent Key="df3b3de2-6e80-46b6-b66b-0921f24825b3">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-18T16:20:43</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a9c48077-cb9a-46da-9911-99c96c07531e">modularPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8e9264d4-f2f6-43d9-88ea-8cbd9b9f8079",
      "udi": "umb://element/936690e77aa1493c82fe51a744f17a07",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}",
      "sectionTitle": "About Us Contact",
      "addSpaceToTop": 1,
      "addSpaceToBottom": 1
    },
    {
      "contentTypeKey": "8c7fd5e3-ee89-48b1-afbd-9f62af25aefa",
      "udi": "umb://element/c640705ad82f4a76963a30148a42dd41"
    },
    {
      "contentTypeKey": "8c7fd5e3-ee89-48b1-afbd-9f62af25aefa",
      "udi": "umb://element/582f1cc3f9a746f891d3798ecedb7b0a"
    },
    {
      "contentTypeKey": "ba2f7fd1-f27d-4a03-b0b3-210745398d80",
      "udi": "umb://element/5ccc1b51c8d34cce81fe58bacd5cf1db",
      "selectedImage": "[{\u0022key\u0022:\u00229b4a625d-99f0-4c23-a35f-9fe9670650de\u0022,\u0022mediaKey\u0022:\u00223a23b11c-aad2-45bb-8cb0-2c1cb12a67de\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": null
    },
    {
      "contentTypeKey": "550dc0c2-3e27-4b60-8771-df2581984b37",
      "udi": "umb://element/db7fbd6017a64d45bfb1b652ed6db2f6",
      "richTextContent": "{\u0022markup\u0022:\u0022\\u003Cdiv class=\\u0022about-us-contact-text\\u0022\\u003E\\n\\u003Ch2\\u003ELet us know about your next project\\u003C/h2\\u003E\\n\\u003Cdiv\\u003E\\n\\u003Ch6\\u003EOffice location\\u003C/h6\\u003E\\n\\u003Cp\\u003EKlarabergsviadukten 90, 111 52 Stockholm\\u003C/p\\u003E\\n\\u003C/div\\u003E\\n\\u003Cdiv\\u003E\\n\\u003Ch6\\u003EPhone number\\u003C/h6\\u003E\\n\\u003Cp\\u003E\\u002B46 8 123 456 75\\u003C/p\\u003E\\n\\u003C/div\\u003E\\n\\u003Cdiv\\u003E\\n\\u003Ch6\\u003EE-mail address\\u003C/h6\\u003E\\n\\u003Cp\\u003Esales@onatrix.com\\u003C/p\\u003E\\n\\u003C/div\\u003E\\n\\u003C/div\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    },
    {
      "contentTypeKey": "ba2f7fd1-f27d-4a03-b0b3-210745398d80",
      "udi": "umb://element/4cb6651901914af8936ca4e8d8cddb49",
      "selectedImage": "[{\u0022key\u0022:\u0022ba49cb48-18f9-440f-8234-fc0a81ffe3a2\u0022,\u0022mediaKey\u0022:\u00221a2fd42f-c7b6-416d-a7d7-0e4b5c30b47c\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/936690e77aa1493c82fe51a744f17a07",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "9188733e-23d0-4b48-a133-5cb006fcc3f9",
            "items": [
              {
                "contentUdi": "umb://element/c640705ad82f4a76963a30148a42dd41",
                "settingsUdi": null,
                "columnSpan": 7,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "f4104e9d-8d75-4488-9685-5ab4299c8c8f",
                    "items": [
                      {
                        "contentUdi": "umb://element/4cb6651901914af8936ca4e8d8cddb49",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/5ccc1b51c8d34cce81fe58bacd5cf1db",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/582f1cc3f9a746f891d3798ecedb7b0a",
                "settingsUdi": null,
                "columnSpan": 5,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "f4104e9d-8d75-4488-9685-5ab4299c8c8f",
                    "items": [
                      {
                        "contentUdi": "umb://element/db7fbd6017a64d45bfb1b652ed6db2f6",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Get in Contact with Us]]></Value>
    </pageTitle>
  </Properties>
</Content>