<?xml version="1.0" encoding="utf-8"?>
<Content Key="ffab3ce0-e9ac-4c49-b092-5640790fcf85" Alias="Services" Level="2">
  <Info>
    <Parent Key="df3b3de2-6e80-46b6-b66b-0921f24825b3">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-19T10:34:22</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ffb19800-5cdb-490c-aa41-4a6466fa417b">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>