<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ec9f62a-4c9a-4b8e-8323-d4e649589150" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-16T00:26:05</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactImageBottom>
      <Value><![CDATA[[
  {
    "key": "e8aefd48-4476-45b5-b202-d8e715c20c29",
    "mediaKey": "1a2fd42f-c7b6-416d-a7d7-0e4b5c30b47c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactImageBottom>
    <contactImageTop>
      <Value><![CDATA[[
  {
    "key": "d0810c73-df8a-4611-bde5-d5463f93ec0e",
    "mediaKey": "3a23b11c-aad2-45bb-8cb0-2c1cb12a67de",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactImageTop>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviaduktion 90, 11164 STOCKHOLM]]></Value>
    </officeLocation>
    <officePhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhone>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "dfdaa87b-1800-4c5a-a2e3-b6d8b34a528e",
    "mediaKey": "ad55fe69-5ae9-4e72-bd5d-eda2b1679ccc",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix Inc]]></Value>
    </siteName>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cf4e5e90-d3aa-4382-a17d-eae56360a5eb",
      "udi": "umb://element/dff0a29560b54ef7b6097cac594bcb84",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "cf4e5e90-d3aa-4382-a17d-eae56360a5eb",
      "udi": "umb://element/048b49ea54b648c8bfeccfff056c0daa",
      "platformName": "[\u0022Linkedln\u0022]",
      "platformAccountUrl": "https://linkedin.com/onatrix"
    },
    {
      "contentTypeKey": "cf4e5e90-d3aa-4382-a17d-eae56360a5eb",
      "udi": "umb://element/c0b7e6ce9e3247c0a2b9b35c33439503",
      "platformName": "[\u0022X (Formerly Twitter)\u0022]",
      "platformAccountUrl": "https://x.com/onatrix"
    },
    {
      "contentTypeKey": "cf4e5e90-d3aa-4382-a17d-eae56360a5eb",
      "udi": "umb://element/20a6dbd3bad742c3a7d5c5c3cbf89b33",
      "platformName": "[\u0022YouTube\u0022]",
      "platformAccountUrl": "https://youtube.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dff0a29560b54ef7b6097cac594bcb84",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/048b49ea54b648c8bfeccfff056c0daa",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/c0b7e6ce9e3247c0a2b9b35c33439503",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/20a6dbd3bad742c3a7d5c5c3cbf89b33",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>