<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9312c1ff-85c8-46fe-a3b4-fcbafdfa8155" Alias="Image Slider - Slides" Level="1">
  <Info>
    <Name>Image Slider - Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3d728782-e0f3-4444-a4b8-f623c1a7fef4",
      "label": "**slide item** - {=imageDescription}"
    }
  ]
}]]></Config>
</DataType>