<?xml version="1.0" encoding="utf-8"?>
<DataType Key="87ec909e-b8c4-4623-8cdf-06f56b67f820" Alias="InputText - Input Types" Level="1">
  <Info>
    <Name>InputText - Input Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "tel"
  ]
}]]></Config>
</DataType>