<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11c9293d-7d63-47e8-a487-8c09e4ad3cd2" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "d571428b-2426-44e3-865c-e5561dd123ec",
      "name": "Containers"
    },
    {
      "key": "9ea559ef-dd49-4086-8433-88a36ca15b23",
      "name": "Components"
    },
    {
      "key": "6a5b3a61-4355-48ec-910e-2a4cc80540d2",
      "name": "Content"
    },
    {
      "key": "61772d84-820f-4c10-83c2-cb448e029541",
      "name": "Form Element"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "8e9264d4-f2f6-43d9-88ea-8cbd9b9f8079",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "9188733e-23d0-4b48-a133-5cb006fcc3f9",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "d571428b-2426-44e3-865c-e5561dd123ec"
    },
    {
      "contentElementTypeKey": "1b3b84f7-5d83-475a-a4af-9a997f8f06db",
      "allowAtRoot": true,
      "groupKey": "d571428b-2426-44e3-865c-e5561dd123ec",
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "07ccc49f-d0d7-452d-a260-c18921c422be",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "eff38a41-d5fd-4bdf-9a1f-90888a286447",
      "allowAtRoot": false,
      "groupKey": "d571428b-2426-44e3-865c-e5561dd123ec",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "68a5428f-4fe4-4a19-8eed-ca76b2a492a6",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "8c7fd5e3-ee89-48b1-afbd-9f62af25aefa",
      "allowAtRoot": false,
      "groupKey": "d571428b-2426-44e3-865c-e5561dd123ec",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "f4104e9d-8d75-4488-9685-5ab4299c8c8f",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        }
      ]
    },
    {
      "contentElementTypeKey": "894c4cfb-ae60-41f4-addd-f6e62be2b648",
      "allowAtRoot": false,
      "groupKey": "9ea559ef-dd49-4086-8433-88a36ca15b23",
      "label": "image slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "550dc0c2-3e27-4b60-8771-df2581984b37",
      "allowAtRoot": false,
      "groupKey": "6a5b3a61-4355-48ec-910e-2a4cc80540d2",
      "allowInAreas": true,
      "label": "rich text"
    },
    {
      "contentElementTypeKey": "ab152201-7a26-414b-9535-d68151fb0854",
      "allowAtRoot": false,
      "groupKey": "6a5b3a61-4355-48ec-910e-2a4cc80540d2",
      "allowInAreas": true,
      "label": "Heading 6"
    },
    {
      "contentElementTypeKey": "8b0df2f7-e75e-4f0d-9af5-976ff22a25cf",
      "allowAtRoot": false,
      "groupKey": "6a5b3a61-4355-48ec-910e-2a4cc80540d2",
      "allowInAreas": true,
      "label": "paragraph"
    },
    {
      "contentElementTypeKey": "6a4236ce-6f81-4c35-8bb8-6eca786d26ff",
      "allowAtRoot": false,
      "groupKey": "6a5b3a61-4355-48ec-910e-2a4cc80540d2",
      "allowInAreas": true,
      "label": "quotation"
    },
    {
      "contentElementTypeKey": "ba2f7fd1-f27d-4a03-b0b3-210745398d80",
      "allowAtRoot": false,
      "groupKey": "6a5b3a61-4355-48ec-910e-2a4cc80540d2",
      "label": "image",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "8b41c5ad-d579-4e90-9446-2291bf252253",
      "allowAtRoot": false,
      "groupKey": "6a5b3a61-4355-48ec-910e-2a4cc80540d2",
      "allowInAreas": true,
      "label": "button link"
    },
    {
      "contentElementTypeKey": "e45c1ba5-49bf-4fac-a816-8adc3c4ab520",
      "allowAtRoot": false,
      "groupKey": "6a5b3a61-4355-48ec-910e-2a4cc80540d2",
      "allowInAreas": true,
      "label": "link"
    },
    {
      "contentElementTypeKey": "2d306f62-e03b-4c95-ab97-c517255ce428",
      "allowAtRoot": false,
      "groupKey": "6a5b3a61-4355-48ec-910e-2a4cc80540d2",
      "allowInAreas": true,
      "label": "heading 5"
    },
    {
      "contentElementTypeKey": "a614dabb-08f0-4ec0-bce7-45227365363a",
      "allowAtRoot": false,
      "groupKey": "6a5b3a61-4355-48ec-910e-2a4cc80540d2",
      "label": "heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "a008f458-6501-4c90-bb70-be1164caeecd",
      "allowAtRoot": false,
      "groupKey": "6a5b3a61-4355-48ec-910e-2a4cc80540d2",
      "label": "heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "0bfed3ae-3265-4af5-899b-ab334a753024",
      "allowAtRoot": false,
      "groupKey": "6a5b3a61-4355-48ec-910e-2a4cc80540d2",
      "label": "heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "606120ce-f12c-42ce-a9b6-b24ccb5dca86",
      "allowAtRoot": false,
      "groupKey": "6a5b3a61-4355-48ec-910e-2a4cc80540d2",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "7209e217-65e2-4e89-903f-99d523ac77eb",
      "allowAtRoot": false,
      "groupKey": "6a5b3a61-4355-48ec-910e-2a4cc80540d2",
      "label": "span",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "29ff647b-5d50-4b89-a7a7-f186ac101c08",
      "allowAtRoot": false,
      "groupKey": "61772d84-820f-4c10-83c2-cb448e029541",
      "label": "InputText - {=uniqueName}",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "c3aa59b7-5091-409b-978c-79850ce462d7",
      "allowAtRoot": false,
      "groupKey": "61772d84-820f-4c10-83c2-cb448e029541",
      "label": "InputPassword - {=uniqueName}",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6ae24e47-721e-4180-971a-0288eeee253b",
      "allowAtRoot": false,
      "groupKey": "61772d84-820f-4c10-83c2-cb448e029541",
      "label": "InputTextArea - {=uniqueName}",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ea898ed3-dcd6-45ed-8acb-da22bfb4fc20",
      "allowAtRoot": false,
      "groupKey": "61772d84-820f-4c10-83c2-cb448e029541",
      "label": "Button - {=buttonType}",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>