<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fcee1cf9-3042-4658-9e82-dab957fa5b03" Alias="Social Media Dropdown List" Level="1">
  <Info>
    <Name>Social Media Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "Linkedln",
    "TikTok",
    "X (Formerly Twitter)",
    "YouTube"
  ]
}]]></Config>
</DataType>