<section id="contact-map" class="spacing-top spacingBottomClass">
    <div>
        <img class="background-image" src="/media/kjnigige/map.svg" alt="Contact Map background image" />
        <div class="form-container">
            @await Html.PartialAsync("contactpageform.cshtml")
        </div>
    </div>
</section>

<!-- Content Brands Section Below the Map Section -->
<section id="contact-brands" class="spacing-top spacingBottomClass">
    <div class="container">
        <div class="brand-grid">
            <span class="slide-item">
                <img src="/media/jw3nnahj/freedombird.svg" alt="Freedom">
            </span>
            <span class="slide-item">
                <img src="/media/1gwfouiz/identity.svg" alt="Identity">
            </span>
            <span class="slide-item">
                <img src="/media/oood3wai/natural.svg" alt="Natural">
            </span>
            <span class="slide-item">
                <img src="/media/3efl1353/simpleleaf.svg" alt="SimpleLeaf">
            </span>
            <span class="slide-item">
                <img src="/media/1cvil5gr/globe.svg" alt="Globe">
            </span>
            <span class="slide-item">
                <img src="/media/uwcfggi1/fossilgroup.svg" alt="Fossil Group">
            </span>
        </div>
    </div>
</section>
