<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf8f8061-eb62-436d-b2ca-0e7c299f4d9c" Alias="aaron-expert.svg" Level="3">
  <Info>
    <Parent Key="856921ea-087d-4907-8e01-28f463412361">about-images</Parent>
    <Path>/other/aboutImages/aaronExpertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:22:06</CreateDate>
    <NodeName Default="aaron-expert.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sm4d0xlz/aaron-expert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>