<?xml version="1.0" encoding="utf-8"?>
<Media Key="856921ea-087d-4907-8e01-28f463412361" Alias="about-images" Level="2">
  <Info>
    <Parent Key="f5fbee87-4970-4721-8e05-28f9ee7cd13c">other</Parent>
    <Path>/other/aboutImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-22T14:21:29</CreateDate>
    <NodeName Default="about-images" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>