<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca974c59-590c-42fa-8cfc-ca1621f13122" Alias="about-us-image.svg" Level="3">
  <Info>
    <Parent Key="348c85a5-6585-46c2-9daa-9f09815fa19c">services-details-images</Parent>
    <Path>/other/servicesDetailsImages/aboutUsImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T10:50:57</CreateDate>
    <NodeName Default="about-us-image.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vpydkkax/about-us-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>