<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce0cbda9-8e06-4caa-b0c0-c81654887a6d" Alias="assurance-audits.svg" Level="3">
  <Info>
    <Parent Key="829a2abc-ca37-4896-9ebb-4d6eb72c568b">services-images</Parent>
    <Path>/other/servicesImages/assuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T10:49:31</CreateDate>
    <NodeName Default="assurance-audits.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lmak2la3/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>