<?xml version="1.0" encoding="utf-8"?>
<Media Key="66a57dab-0b46-45ce-9517-267d73773347" Alias="assurance-audits.svg" Level="3">
  <Info>
    <Parent Key="a78cff48-4da6-47d2-8a34-e279de870ba8">home-images</Parent>
    <Path>/other/homeImages/assuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:40:41</CreateDate>
    <NodeName Default="assurance-audits.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lhaapbc3/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>