<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a6c83d6-0492-4a2a-982a-1d8f6ca36921" Alias="bond-commodities.svg" Level="3">
  <Info>
    <Parent Key="829a2abc-ca37-4896-9ebb-4d6eb72c568b">services-images</Parent>
    <Path>/other/servicesImages/bondCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T10:49:33</CreateDate>
    <NodeName Default="bond-commodities.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eq5m30ej/bond-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>