<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd6137a3-b8cb-476f-a83d-0200c321a7f9" Alias="bond-commodities.svg" Level="3">
  <Info>
    <Parent Key="a78cff48-4da6-47d2-8a34-e279de870ba8">home-images</Parent>
    <Path>/other/homeImages/bondCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:40:42</CreateDate>
    <NodeName Default="bond-commodities.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kgfmgh4q/bond-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>