<?xml version="1.0" encoding="utf-8"?>
<Media Key="caa8105c-00ca-4c73-a2ad-81d96d2835a2" Alias="brandon-expert.svg" Level="3">
  <Info>
    <Parent Key="856921ea-087d-4907-8e01-28f463412361">about-images</Parent>
    <Path>/other/aboutImages/brandonExpertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:21:50</CreateDate>
    <NodeName Default="brandon-expert.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v0wbukgr/brandon-expert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>