<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad55fe69-5ae9-4e72-bd5d-eda2b1679ccc" Alias="brand.svg" Level="2">
  <Info>
    <Parent Key="35df4404-1f90-47d9-9794-8b4a2fcf5a0a">logos</Parent>
    <Path>/logos/brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:37:59</CreateDate>
    <NodeName Default="brand.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tnbpot5s/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>