<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e27eb97-938b-4291-beb4-4c64ec14bfee" Alias="carter-expert.svg" Level="3">
  <Info>
    <Parent Key="856921ea-087d-4907-8e01-28f463412361">about-images</Parent>
    <Path>/other/aboutImages/carterExpertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:21:52</CreateDate>
    <NodeName Default="carter-expert.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mvlilteq/carter-expert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>