<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a2fd42f-c7b6-416d-a7d7-0e4b5c30b47c" Alias="component-image.svg" Level="3">
  <Info>
    <Parent Key="856921ea-087d-4907-8e01-28f463412361">about-images</Parent>
    <Path>/other/aboutImages/componentImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:21:54</CreateDate>
    <NodeName Default="component-image.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1vuj14fn/component-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>