<?xml version="1.0" encoding="utf-8"?>
<Media Key="58e72ed6-222e-420c-9c66-fe9d390a4d8f" Alias="contact-info-image.svg" Level="3">
  <Info>
    <Parent Key="829a2abc-ca37-4896-9ebb-4d6eb72c568b">services-images</Parent>
    <Path>/other/servicesImages/contactInfoImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T10:49:22</CreateDate>
    <NodeName Default="contact-info-image.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/esjflorv/contact-info-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>