<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e4b7b20-9c3a-4331-b4ff-34291cc3a78e" Alias="contact-images" Level="2">
  <Info>
    <Parent Key="f5fbee87-4970-4721-8e05-28f9ee7cd13c">other</Parent>
    <Path>/other/contactImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-22T14:23:10</CreateDate>
    <NodeName Default="contact-images" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>