<?xml version="1.0" encoding="utf-8"?>
<Media Key="46fc9ada-467f-46c9-8e8b-f685d8edf94f" Alias="contact-info-image.svg" Level="3">
  <Info>
    <Parent Key="856921ea-087d-4907-8e01-28f463412361">about-images</Parent>
    <Path>/other/aboutImages/contactInfoImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:21:55</CreateDate>
    <NodeName Default="contact-info-image.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fatf3jde/contact-info-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>