<?xml version="1.0" encoding="utf-8"?>
<Media Key="66c127fd-9b85-47c2-b5d6-7cc964165325" Alias="contact-info-image.svg" Level="3">
  <Info>
    <Parent Key="75e43127-661a-4963-85b1-ea301f578fb5">projects-images</Parent>
    <Path>/other/projectsImages/contactInfoImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T14:18:22</CreateDate>
    <NodeName Default="contact-info-image.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b4nghbe4/contact-info-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>