<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a23b11c-aad2-45bb-8cb0-2c1cb12a67de" Alias="contact-info-image.svg" Level="3">
  <Info>
    <Parent Key="6e4b7b20-9c3a-4331-b4ff-34291cc3a78e">contact-images</Parent>
    <Path>/other/contactImages/contactInfoImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:23:26</CreateDate>
    <NodeName Default="contact-info-image.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3ygidwgj/contact-info-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>