<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b7e4525-3842-494d-a6d4-c9cb274d715b" Alias="dot-map.svg" Level="3">
  <Info>
    <Parent Key="a78cff48-4da6-47d2-8a34-e279de870ba8">home-images</Parent>
    <Path>/other/homeImages/dotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:40:44</CreateDate>
    <NodeName Default="dot-map.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/052ny4kz/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>