<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b8f8909-09f0-4f9c-88e3-0ad844f2010c" Alias="financial-adviser.svg" Level="3">
  <Info>
    <Parent Key="829a2abc-ca37-4896-9ebb-4d6eb72c568b">services-images</Parent>
    <Path>/other/servicesImages/financialAdvisersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T10:49:24</CreateDate>
    <NodeName Default="financial-adviser.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5m0c1cpl/financial-adviser.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>