<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd2b1bb6-09df-4396-bbfd-8a5e6ace0ec7" Alias="financial-adviser.svg" Level="3">
  <Info>
    <Parent Key="a78cff48-4da6-47d2-8a34-e279de870ba8">home-images</Parent>
    <Path>/other/homeImages/financialAdvisersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:40:45</CreateDate>
    <NodeName Default="financial-adviser.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/istisl4e/financial-adviser.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>