<?xml version="1.0" encoding="utf-8"?>
<Media Key="fbf13957-bc00-490c-ad6b-c3ca88fca8fa" Alias="fossilgroup.svg" Level="2">
  <Info>
    <Parent Key="8cc104cf-2334-4822-9a40-0ac61b04fe75">brands</Parent>
    <Path>/brands/fossilgroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:36:44</CreateDate>
    <NodeName Default="fossilgroup.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uwcfggi1/fossilgroup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>