<?xml version="1.0" encoding="utf-8"?>
<Media Key="626406bf-39f2-4bb2-a4d1-75f05cfea943" Alias="freedombird.svg" Level="2">
  <Info>
    <Parent Key="8cc104cf-2334-4822-9a40-0ac61b04fe75">brands</Parent>
    <Path>/brands/freedombirdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:36:45</CreateDate>
    <NodeName Default="freedombird.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jw3nnahj/freedombird.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>