<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e27172a-b9ca-48d3-8701-1b1f0eba5544" Alias="globe.svg" Level="2">
  <Info>
    <Parent Key="8cc104cf-2334-4822-9a40-0ac61b04fe75">brands</Parent>
    <Path>/brands/globesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:36:47</CreateDate>
    <NodeName Default="globe.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1cvil5gr/globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>