<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc12a223-3ca9-4fbf-83f2-d4395671276c" Alias="hero-image.svg" Level="3">
  <Info>
    <Parent Key="a78cff48-4da6-47d2-8a34-e279de870ba8">home-images</Parent>
    <Path>/other/homeImages/heroImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:40:23</CreateDate>
    <NodeName Default="hero-image.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0eplalvs/hero-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>