<?xml version="1.0" encoding="utf-8"?>
<Media Key="a78cff48-4da6-47d2-8a34-e279de870ba8" Alias="home-images" Level="2">
  <Info>
    <Parent Key="f5fbee87-4970-4721-8e05-28f9ee7cd13c">other</Parent>
    <Path>/other/homeImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-15T08:39:56</CreateDate>
    <NodeName Default="home-images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>