<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3e5102b-1802-4074-a621-9f798487f4bb" Alias="identity.svg" Level="2">
  <Info>
    <Parent Key="8cc104cf-2334-4822-9a40-0ac61b04fe75">brands</Parent>
    <Path>/brands/identitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:36:48</CreateDate>
    <NodeName Default="identity.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1gwfouiz/identity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>