<?xml version="1.0" encoding="utf-8"?>
<Media Key="e76b9f60-aeb4-4901-8b86-90fe0f4f74cf" Alias="kevin-gardner-expert.svg" Level="3">
  <Info>
    <Parent Key="856921ea-087d-4907-8e01-28f463412361">about-images</Parent>
    <Path>/other/aboutImages/kevinGardnerExpertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:21:57</CreateDate>
    <NodeName Default="kevin-gardner-expert.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sirmsbnp/kevin-gardner-expert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>