<?xml version="1.0" encoding="utf-8"?>
<Media Key="35df4404-1f90-47d9-9794-8b4a2fcf5a0a" Alias="logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-15T08:31:59</CreateDate>
    <NodeName Default="logos" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>