<?xml version="1.0" encoding="utf-8"?>
<Media Key="c221e7a0-1adf-45a9-b6fc-3fc2c5f94d34" Alias="map.svg" Level="3">
  <Info>
    <Parent Key="6e4b7b20-9c3a-4331-b4ff-34291cc3a78e">contact-images</Parent>
    <Path>/other/contactImages/mapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:23:28</CreateDate>
    <NodeName Default="map.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kjnigige/map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>