<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9031cf4-2f92-4947-89ec-864d8c8a0652" Alias="mask-group-expert.svg" Level="3">
  <Info>
    <Parent Key="856921ea-087d-4907-8e01-28f463412361">about-images</Parent>
    <Path>/other/aboutImages/maskGroupExpertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:21:58</CreateDate>
    <NodeName Default="mask-group-expert.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a0qlcs2j/mask-group-expert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>