<?xml version="1.0" encoding="utf-8"?>
<Media Key="94edc054-a58f-47f6-9a7b-bd8f01dae78f" Alias="miranda-expert.svg" Level="3">
  <Info>
    <Parent Key="856921ea-087d-4907-8e01-28f463412361">about-images</Parent>
    <Path>/other/aboutImages/mirandaExpertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:22:00</CreateDate>
    <NodeName Default="miranda-expert.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uz4f43uu/miranda-expert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>