<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5fbee87-4970-4721-8e05-28f9ee7cd13c" Alias="other" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/other</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-15T08:32:52</CreateDate>
    <NodeName Default="other" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>