<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a917f96-447d-4e9f-a7b4-493f7417fc80" Alias="projects-details-images" Level="2">
  <Info>
    <Parent Key="f5fbee87-4970-4721-8e05-28f9ee7cd13c">other</Parent>
    <Path>/other/projectsDetailsImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-19T14:19:15</CreateDate>
    <NodeName Default="projects-details-images" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>