<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd11a8be-270b-47bf-8bc2-ca957c7c1a74" Alias="project-image-4.svg" Level="3">
  <Info>
    <Parent Key="75e43127-661a-4963-85b1-ea301f578fb5">projects-images</Parent>
    <Path>/other/projectsImages/projectImage4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T14:18:20</CreateDate>
    <NodeName Default="project-image-4.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jqklgxyq/project-image-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>