<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdbd2838-6cbd-4ed1-8275-2734b89fa3b2" Alias="project-image-details-1.svg" Level="3">
  <Info>
    <Parent Key="0a917f96-447d-4e9f-a7b4-493f7417fc80">projects-details-images</Parent>
    <Path>/other/projectsDetailsImages/projectImageDetails1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T14:19:28</CreateDate>
    <NodeName Default="project-image-details-1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zkkb4x3g/project-image-details-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>