<?xml version="1.0" encoding="utf-8"?>
<Media Key="c920eaa4-749f-420b-b7e3-00a087cd8361" Alias="project-image-1.svg" Level="3">
  <Info>
    <Parent Key="75e43127-661a-4963-85b1-ea301f578fb5">projects-images</Parent>
    <Path>/other/projectsImages/projectImage1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T14:18:15</CreateDate>
    <NodeName Default="project-image-1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kzljek2e/project-image-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>