<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb1d33af-b080-4699-9f9f-8e7154e8a1d6" Alias="project-image-3.svg" Level="3">
  <Info>
    <Parent Key="75e43127-661a-4963-85b1-ea301f578fb5">projects-images</Parent>
    <Path>/other/projectsImages/projectImage3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T14:18:19</CreateDate>
    <NodeName Default="project-image-3.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lwhl4cm1/project-image-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>