<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7fb91de-6680-4de3-bb68-84e9dcecb4cd" Alias="project-image-details-2.svg" Level="3">
  <Info>
    <Parent Key="0a917f96-447d-4e9f-a7b4-493f7417fc80">projects-details-images</Parent>
    <Path>/other/projectsDetailsImages/projectImageDetails2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T14:19:29</CreateDate>
    <NodeName Default="project-image-details-2.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fqwfsvm1/project-image-details-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>