<?xml version="1.0" encoding="utf-8"?>
<Media Key="75a33591-9a48-4fc7-98ea-9a9760672418" Alias="project-image-2.svg" Level="3">
  <Info>
    <Parent Key="75e43127-661a-4963-85b1-ea301f578fb5">projects-images</Parent>
    <Path>/other/projectsImages/projectImage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T14:18:17</CreateDate>
    <NodeName Default="project-image-2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/moeadf0t/project-image-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>