<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc0db984-c571-45b9-9459-82101153e474" Alias="project-image-big-1.svg" Level="3">
  <Info>
    <Parent Key="0a917f96-447d-4e9f-a7b4-493f7417fc80">projects-details-images</Parent>
    <Path>/other/projectsDetailsImages/projectImageBig1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T14:19:26</CreateDate>
    <NodeName Default="project-image-big-1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oyck4ltk/project-image-big-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>