<?xml version="1.0" encoding="utf-8"?>
<Media Key="f9e0e034-335d-43cd-afdb-fbd7596b0546" Alias="recent-projects-1.svg" Level="3">
  <Info>
    <Parent Key="a78cff48-4da6-47d2-8a34-e279de870ba8">home-images</Parent>
    <Path>/other/homeImages/recentProjects1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:40:25</CreateDate>
    <NodeName Default="recent-projects-1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yzofeg0g/recent-projects-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>