<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd5d824b-3634-4c6b-9acb-2b4a0f892834" Alias="recent-projects-4.svg" Level="3">
  <Info>
    <Parent Key="a78cff48-4da6-47d2-8a34-e279de870ba8">home-images</Parent>
    <Path>/other/homeImages/recentProjects4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:40:30</CreateDate>
    <NodeName Default="recent-projects-4.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xe5p4lzp/recent-projects-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>