<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe2d6585-3984-4ae7-a624-4ca03fc729ff" Alias="recent-post-image.svg" Level="3">
  <Info>
    <Parent Key="0a917f96-447d-4e9f-a7b4-493f7417fc80">projects-details-images</Parent>
    <Path>/other/projectsDetailsImages/recentPostImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T14:19:31</CreateDate>
    <NodeName Default="recent-post-image.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o5mi4he5/recent-post-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>