<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3da0181-6457-4754-a283-4cd08a46c660" Alias="reviews-image.svg" Level="3">
  <Info>
    <Parent Key="856921ea-087d-4907-8e01-28f463412361">about-images</Parent>
    <Path>/other/aboutImages/reviewsImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:22:01</CreateDate>
    <NodeName Default="reviews-image.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oo4hqukm/reviews-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>