<?xml version="1.0" encoding="utf-8"?>
<Media Key="5da745fd-5198-4b2b-b3ff-303cdfb3e91e" Alias="risk-management.svg" Level="3">
  <Info>
    <Parent Key="a78cff48-4da6-47d2-8a34-e279de870ba8">home-images</Parent>
    <Path>/other/homeImages/riskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:40:31</CreateDate>
    <NodeName Default="risk-management.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b52alp2d/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>