<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d0e93b5-5576-41b4-af59-67f1b67f11db" Alias="risk-management.svg" Level="3">
  <Info>
    <Parent Key="829a2abc-ca37-4896-9ebb-4d6eb72c568b">services-images</Parent>
    <Path>/other/servicesImages/riskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T10:49:26</CreateDate>
    <NodeName Default="risk-management.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i2xkz51n/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>