<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef2d18bf-a838-4010-afd9-52ce6db4c424" Alias="services-1.svg" Level="3">
  <Info>
    <Parent Key="348c85a5-6585-46c2-9daa-9f09815fa19c">services-details-images</Parent>
    <Path>/other/servicesDetailsImages/services1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T10:50:54</CreateDate>
    <NodeName Default="services-1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jwsj4djd/services-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>