<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8710cf1-3c8a-410c-be5f-029e514c9425" Alias="services-2.svg" Level="3">
  <Info>
    <Parent Key="348c85a5-6585-46c2-9daa-9f09815fa19c">services-details-images</Parent>
    <Path>/other/servicesDetailsImages/services2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T10:50:56</CreateDate>
    <NodeName Default="services-2.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aoyngkur/services-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>