<?xml version="1.0" encoding="utf-8"?>
<Media Key="348c85a5-6585-46c2-9daa-9f09815fa19c" Alias="services-details-images" Level="2">
  <Info>
    <Parent Key="f5fbee87-4970-4721-8e05-28f9ee7cd13c">other</Parent>
    <Path>/other/servicesDetailsImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-19T10:50:34</CreateDate>
    <NodeName Default="services-details-images" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>