<?xml version="1.0" encoding="utf-8"?>
<Media Key="829a2abc-ca37-4896-9ebb-4d6eb72c568b" Alias="services-images" Level="2">
  <Info>
    <Parent Key="f5fbee87-4970-4721-8e05-28f9ee7cd13c">other</Parent>
    <Path>/other/servicesImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-19T10:49:09</CreateDate>
    <NodeName Default="services-images" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>