<?xml version="1.0" encoding="utf-8"?>
<Media Key="22dc92b1-0f07-452a-b69c-a52943501014" Alias="signature.svg" Level="2">
  <Info>
    <Parent Key="488819ff-a7b4-4e82-bf09-f794799adfb4">signature</Parent>
    <Path>/signature/signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:52:24</CreateDate>
    <NodeName Default="signature.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/imxh3qa2/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>