<?xml version="1.0" encoding="utf-8"?>
<Media Key="488819ff-a7b4-4e82-bf09-f794799adfb4" Alias="signature" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/signature</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-15T08:33:42</CreateDate>
    <NodeName Default="signature" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>