<?xml version="1.0" encoding="utf-8"?>
<Media Key="151fb61b-ffe6-46b1-a406-13b73482a85b" Alias="simpleleaf.svg" Level="2">
  <Info>
    <Parent Key="8cc104cf-2334-4822-9a40-0ac61b04fe75">brands</Parent>
    <Path>/brands/simpleleafsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:36:51</CreateDate>
    <NodeName Default="simpleleaf.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3efl1353/simpleleaf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>