<?xml version="1.0" encoding="utf-8"?>
<Media Key="034f52e7-a301-44bf-b251-3442319873f5" Alias="statistic-advisors.svg" Level="3">
  <Info>
    <Parent Key="a78cff48-4da6-47d2-8a34-e279de870ba8">home-images</Parent>
    <Path>/other/homeImages/statisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:40:33</CreateDate>
    <NodeName Default="statistic-advisors.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cxxp1yi0/statistic-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>