<?xml version="1.0" encoding="utf-8"?>
<Media Key="d793ec97-dc6f-4c6c-9211-21af97693e46" Alias="statistic-advisors.svg" Level="3">
  <Info>
    <Parent Key="829a2abc-ca37-4896-9ebb-4d6eb72c568b">services-images</Parent>
    <Path>/other/servicesImages/statisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T10:49:27</CreateDate>
    <NodeName Default="statistic-advisors.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mvidcnlu/statistic-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>