<?xml version="1.0" encoding="utf-8"?>
<Media Key="33538a91-172d-4b00-a4e3-a94cb1c02fc1" Alias="success-story-bg.svg" Level="3">
  <Info>
    <Parent Key="a78cff48-4da6-47d2-8a34-e279de870ba8">home-images</Parent>
    <Path>/other/homeImages/successStoryBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:40:36</CreateDate>
    <NodeName Default="success-story-bg.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mm1pdujw/success-story-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>