<?xml version="1.0" encoding="utf-8"?>
<Media Key="78d20fda-922c-4e73-bdae-aa6b20ac1fa3" Alias="success-story.svg" Level="3">
  <Info>
    <Parent Key="a78cff48-4da6-47d2-8a34-e279de870ba8">home-images</Parent>
    <Path>/other/homeImages/successStorysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:40:34</CreateDate>
    <NodeName Default="success-story.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fczhbgrx/success-story.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>