<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c006c2f-9aa4-4989-8839-eeaff3a83fce" Alias="tax-and-trusts.svg" Level="3">
  <Info>
    <Parent Key="829a2abc-ca37-4896-9ebb-4d6eb72c568b">services-images</Parent>
    <Path>/other/servicesImages/taxAndTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T10:49:29</CreateDate>
    <NodeName Default="tax-and-trusts.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1xilfpv5/tax-and-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>