<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef8fae8c-e37e-4539-b418-6ed82061f0d8" Alias="tax-and-trusts.svg" Level="3">
  <Info>
    <Parent Key="a78cff48-4da6-47d2-8a34-e279de870ba8">home-images</Parent>
    <Path>/other/homeImages/taxAndTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:40:37</CreateDate>
    <NodeName Default="tax-and-trusts.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pyjd0dlf/tax-and-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>