<?xml version="1.0" encoding="utf-8"?>
<Media Key="755338ee-37ca-4790-b413-1e00713f2da2" Alias="why-choose-us.svg" Level="3">
  <Info>
    <Parent Key="a78cff48-4da6-47d2-8a34-e279de870ba8">home-images</Parent>
    <Path>/other/homeImages/whyChooseUssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T08:40:39</CreateDate>
    <NodeName Default="why-choose-us.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dscpdf4r/why-choose-us.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>