<?xml version="1.0" encoding="utf-8"?>
<Media Key="eea54aa4-6860-4cc1-b30a-9586a1dc3435" Alias="woman-expert.svg" Level="3">
  <Info>
    <Parent Key="856921ea-087d-4907-8e01-28f463412361">about-images</Parent>
    <Path>/other/aboutImages/womanExpertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:22:04</CreateDate>
    <NodeName Default="woman-expert.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k11bodd1/woman-expert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>