<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd4dba40-534f-4631-949b-3ec323dc7b10" Alias="woman.svg" Level="3">
  <Info>
    <Parent Key="856921ea-087d-4907-8e01-28f463412361">about-images</Parent>
    <Path>/other/aboutImages/womansvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-22T14:22:03</CreateDate>
    <NodeName Default="woman.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/widp4x0u/woman.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>